# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# ASP.NET Core
appsettings.Development.json

# Visual Studio / VS Code
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Publish output
publish/
